name: Build and Deploy - portal-agro-huila (Develop)

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore "Portal-Agro-comercial-del-Huila/Web/Web.csproj"

      - name: Build
        run: dotnet build "Portal-Agro-comercial-del-Huila/Web/Web.csproj" --configuration Release --no-restore

      - name: Publish
        run: dotnet publish "Portal-Agro-comercial-del-Huila/Web/Web.csproj" --configuration Release --output ./published --no-build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_24C6964D6196485D9EE13FB71E206379 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_71DFA382DFD24624883A2CE1E201E7976 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_79E812CD141E44C3AB6B59D5158C2BB5 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: portal-agro-huila
          package: ./published
